
.App {
  color: white;
  height: 100%;
  width: 100%;
  position: absolute;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 140%;
  font-weight: bold;
}

.image {
  display: block;
  margin: auto;
}

.image > img {
  max-height: 300px;
}

.main {
  height: 100%;
}

.masque, .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.masque {
  font-size: 350%;
  letter-spacing: 0.5em;
}


